<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.RecursoMapper">


    <select id="getRecursos" resultMap="RecursoResult">
        SELECT
            r.id, r.disponible, r.averiado, r.ubicacion, r.nombre , r.capacidad, r.tipo_recurso
        FROM
            recurso r
    </select>
    
    <select id="filtrarRecurso" resultMap="RecursoResult" parameterType="Recurso">
        SELECT 
            r.id, r.disponible, r.averiado, r.ubicacion, r.nombre , r.capacidad, r.tipo_recurso
        FROM
            recurso r
        <if test = "recurso.id != null">
            WHERE r.id = #{recurso.id}
        </if>
        
    </select>
    
    <update id="cambiarEstadoMatenimiento" parameterType="integer">
        UPDATE public.recurso
            SET disponible=false, averiado=(not (select averiado from recurso where id=#{id}))
        WHERE id=#{id};
        
    </update>
    
     <insert id="insertRecurso" parameterType="edu.eci.cvds.entities.Recurso">
        insert into recurso(id,disponible,averiado,ubicacion,nombre,capacidad,tipo_recurso) values (#{recurso.id},#{recurso.disponible},#{recurso.averiado},#{recurso.ubicacion},#{recuso.nombre},#{recurso.capacidad},#{recurso.tipo})
    </insert>
    
    <resultMap type='Recurso' id='RecursoResult'>
        <id property='id' column='id'/>
        <result property='disponible' column='disponible'/>
        <result property='averiado' column='averiado'/>
        <result property='ubicacion' column='ubicacion'/>
        <result property='nombre' column='nombre'/>
        <result property='capacidad' column='capacidad'/>
        <result property='tipo' column='tipo_recurso'/>
    </resultMap>

    
    
</mapper>